<h3>All Loans</h3>

{% for client in clients_all.all %}

<p> <h3>{{ client.surname  }} {{ client.other_names  }} {{ client.pk  }} </h3> </p>
        {% for loans in loans_all.all %}

        {% if client.pk == loans.client_id.pk %}

       

        {{ loans.amount }} {{ loans.status }} {{ loans.amount }} {{ loans.repay_amount }} {{ loans.current_amount }} {{  loans.mode_cycles  }} <br/>
             

        {% else %}



        {% endif %}
       

        {% endfor %}

        <hr/>

{% endfor %}
