{%  extends 'main.html'  %}



{% block content %}


<h3>All Loans</h3>

{% include "transact/paynav.html" %}

{% for client in clients_all.all %}

<p> <h5>{{ client.surname  }} {{ client.other_names  }} </h5> </p>
        {% for loans in loans_all.all %}

        {% if client.pk == loans.client_id.pk %}

       
<div  onclick="window.location='{% url 'loan' loans.pk %}';" style= "cursor: pointer;">
       Status->{{ loans.status }} Amount->{{ loans.amount }} Repay->{{ loans.repay_amount }} Current->{{ loans.current_amount }}<br/>
</div>

        {% else %}



        {% endif %}
       

        {% endfor %}

        <hr/>

{% endfor %}


{% endblock %}