<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand pl-2" href="#">Client Actions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" href="{% url 'all' %}"> Dashboard</a>
            <a class="nav-item nav-link" href="{% url 'home' %}"> View all Clients</a>
            <a class="nav-item nav-link" href="{% url 'register' %}"> Add Client</a>
           

        </div>
    </div>
</nav>