{%  extends 'main.html'  %}



{% block content %}
<h2>Please Login</h2>




{{  error  }}

<form method="POST" enctype="multipart/form-data" action="{% url 'login' %}" name="login">
    {% csrf_token %}

    <table>
        <tr>
            <td>
               Username
            </td>
            <td>
               <input type="text" name="username" />
            </td>
        </tr>
        <tr>
            <td>
                Password :
            </td>
            <td>
                <input type="password" name="password" />
            </td>
        
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
            <td>
            </td>
        </tr>


    </table>

</form>






{% endblock %}